<nz-layout>
    <nz-header >
      <div>
        <a class="nom" href="/">Bertonneau Clément</a>
      </div>
      <div class="buttonHeader">
        <button id="button" class="home" nz-button nzType="text" (click)="move(home)">Accueil</button>
        <button id="button" nz-button nzType="text" (click)="move(aboutMe)">A propos de moi</button>
        <button id="button" nz-button nzType="text" (click)="move(techno)">Technologie</button>
        <button id="button" nz-button nzType="text" (click)="move(article)">Réalisation</button>
        <button id="button" nz-button nzType="text" (click)="move(competence)">Compétence</button>
        <button id="button" nz-button nzType="text" (click)="move(contact)">Contact</button>
        <!-- <a (click)="toggleDarkMode()" class="bulb" nz-icon nzType="bulb" nzTheme="fill"></a> -->
      </div>

      <a class="dropdown" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <span class="menu" nz-icon nzType="menu" nzTheme="outline"></span>
        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul class="" nz-menu>
          <li nz-menu-item>        
            <button id="button" class="home" nz-button nzType="text" (click)="move(home)">Accueil</button>
          </li>
          <li nz-menu-item>
            <button id="button" nz-button nzType="text" (click)="move(aboutMe)">A propos de moi</button>
          </li>
          <li>
            <button id="button" nz-button nzType="text" (click)="move(techno)">Technologie</button>
          </li>
          <li>
            <button id="button" nz-button nzType="text" (click)="move(article)">Réalisation</button>
          </li>
          <li>
            <button id="button" nz-button nzType="text" (click)="move(competence)">Compétence</button>
          </li>
          <li>
            <button id="button" nz-button nzType="text" (click)="move(contact)">Contact</button>
          </li>
          <!-- <a (click)="toggleDarkMode()" class="bulb" nz-icon nzType="bulb" nzTheme="fill"></a> -->
        </ul>
        <!-- <button id="button"  nz-button nzType="text">Home</button>
        <button id="button" nz-button nzType="text">About me</button>
        <button id="button" nz-button nzType="text">Skill</button>
        <button id="button" nz-button nzType="text">Projects</button>
        <button id="button" nz-button nzType="text">Contact</button> -->
      </nz-dropdown-menu>
    </nz-header>
</nz-layout>

  