.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
  background: #f1f1f1;
  border-width: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#button {
  color: black;
  margin: 0;
  font-size: 20px;
  font-family: ui-sans-serif;
  line-height: 20px;
  padding: 12px 20px;
  margin: 15px;
  border-radius: 12px;
}

#button:hover{
  background-color: rgba(110, 225, 240, 0.85);
}

button {
  border-width: 1px;
  border-style: inherit;
}

.home {
  background-color: rgba(110, 225, 240, 0.85);
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
}

.bulb {
  color: rgba(255, 187, 0, 0.74);
}

.menu {
  color: rgba(110, 225, 240, 0.85);
}

.dropdown {
  display: none;
}

li {

}

@media only screen and (max-width: 940px) {
  .buttonHeader{
    display: none;
  } 
  .dropdown {
  display:flex;
}
} 