<nz-layout>
    <nz-header >
      <div>
        <a class="nom" href="/">Bertonneau Clément</a>
      </div>
      <div class="buttonHeader">
        <button id="button" class="home" nz-button nzType="text" (click)="move(Home)">Accueil</button>
        <button id="button" nz-button nzType="text" (click)="move(AboutMe)">A propos de moi</button>
        <button id="button" nz-button nzType="text" (click)="move(Article)">Réalisation & compétence</button>
        <button id="button" nz-button nzType="text" (click)="move(Contact)">Contact</button>
        <a (click)="toggleDarkMode()" class="bulb" nz-icon nzType="bulb" nzTheme="fill"></a>
      </div>

      <a class="dropdown" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
        <span class="menu" nz-icon nzType="menu" nzTheme="outline"></span>
        <span nz-icon nzType="down"></span>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul class="" nz-menu>
          <li nz-menu-item><button id="button"  nz-button nzType="text">Accueil</button></li>
          <li nz-menu-item><button id="button" nz-button nzType="text">A propos de moi</button></li>
          <button id="button" nz-button nzType="text" (click)="move(Article)">Réalisation & compétence</button>
          <button id="button" nz-button nzType="text" (click)="move(Contact)">Contact</button>
          <a (click)="toggleDarkMode()" class="bulb" nz-icon nzType="bulb" nzTheme="fill"></a>
        </ul>
        <!-- <button id="button"  nz-button nzType="text">Home</button>
        <button id="button" nz-button nzType="text">About me</button>
        <button id="button" nz-button nzType="text">Skill</button>
        <button id="button" nz-button nzType="text">Projects</button>
        <button id="button" nz-button nzType="text">Contact</button> -->
      </nz-dropdown-menu>
    </nz-header>
</nz-layout>



<!-- <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Ant Design Of Angular</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/welcome">Welcome</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Monitor</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Workplace</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Basic Form</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout> -->
  