html, body {
  max-width: 100%;
  overflow-x: visible;
}
.ant-layout-header {
  height: 64px;
  padding: 0 50px;
  color: var(--text-color);
  line-height: 64px;
  background: var(--bkg-header-color);
  border-width: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  width:100%;
  left:0;
  top:0;
  right: 0;
  z-index: 1000;
}

#button {
  background-color: var(--btn-bkg-color);
  margin: 0;
  font-size: 18px;
  justify-content: center;
  font-family: serif;
  line-height: 0px;
  padding: 12px 20px;
  margin: 15px;
  border-radius: 12px;
  color: white;
}

#button:hover{
  background-color: var(--btn-hover-color);
}

button {
  border-width: 1px;
  border-style: inherit;
}

.home {
  background-color: var(--btn-hover-color);
}

[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
}

.bulb {
  color: var(--bulb-color);
}

.menu {
  color: var(--btn-hover-color);
}

.dropdown {
  display: none;
}

li {
  padding: 0%;

}

.nom{
  font-weight: bold;
  color: var(--text-color);
  font-size: large;
  font-family: cursive;
}

@media only screen and (max-width: 1200px) {
  .buttonHeader{
    display: none;
  } 
  .dropdown {
  display:flex;
}

.nom{
  font-size: medium;
}
} 