
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2100px;
}

.title{
    display: flex;
    justify-content: center;
    font-family: Georgia;
    align-items: center;
    font-size: 45px;
    margin-top: 0%;
    font-weight: bold;
    color: var(--title-color);
}

.subtitle{
    display: flex;
    justify-content: center;
    font-family: Georgia;
    font-weight: bolder;
    align-items: center;
    font-size: 35px;
    margin-top: 6%;
    color: var( --subtitle-color);
}

.text{
    max-width: 80%;
    word-break:keep-all;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: Georgia;
    align-items: center;
    font-size: 25px;
    text-align: center;
    color: var( --text-color);
    margin-top: 3%;
}

.icon{
    
    display: flex;
    justify-content: center;
    font-size: 500%;
    margin-top: 5%;
    flex-wrap: wrap;
}

i{
    margin: 2%;
    padding: 10px;
}

.image{
    display: flex;
    background-image: var(--frise-image); 
    height:750px; 
    width:300px;  

}

.imageL{
    display: flex;
    background-image: var(--frise-imageL); 
    height:500px; 
    width:442px;  
}

.imageR{
    display: flex;
    background-image: var(--frise-imageL); 
    height:500px; 
    width:442px;  
}

.frise{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;  
    flex-direction:row;
}