
    <div class="body">
        <div class="title">
            A propos de moi
        </div>
        <div class="subtitle">
            Qui suis-je ?
        </div>
        <div class="text">
            Je suis un jeune développeur en informatique actuellement en île de France.Je suis passioné de jeux vidéo en tout genre 
            , de light novel type wuxia ce sont des histoires de fiction chinoise qui se concentre sur les arts martiaux pendant
            les anciennes dynasties Et de sport en tout genre.J'ai fait une école d'informatique nommée Intech. Je suis ensuite allé
             chez Elcimai une entreprise en informatique dans laquelle
            j'ai appris le développement FrontEnd, BackEnd et mobile. Lorsque je fais une application, je cherche à la
            rendre le plus durable et efficace possible tout en gardant une structure simple, pertinente et facilement
            évolutive. Je suis passionné et toujours prêt pour un nouveau projet.
        </div>
        <div class="frise">
            <div class="image"></div>
        </div>

        <div class="subtitle">
            Technologie et outils
        </div>
        <div class="text">
            Lors de mes différents projets, j'ai utilisé une multitude de technologies et j'ai uniquement gardé ce qui
            pour moi avait le plus de sens dans ce que je faisais.
        </div>
        <div class="icon"> 
            <i class="devicon-ionic-original colored">Ionic</i>
    
            <i class="devicon-android-plain colored">Android</i>
    
            <i class="devicon-csharp-plain colored">C#</i>
    
            <i class="devicon-eslint-original colored">Eslint</i>
    
            <i class="devicon-git-plain colored">Git</i>
    
            <i class="devicon-html5-plain colored">HTML</i>
    
            <i class="devicon-mysql-plain colored">MySQL</i>
    
            <i class="devicon-typescript-plain colored">TypeScript</i>
        </div>
    </div>