h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
}

h4 {
    font-family: serif;

}
.body{
    display: flex;
    flex-direction: column;
    height: 1600px;
}
.title{
    display: flex;
    font-family: serif;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-top: 0%;
    font-weight: bold;
    color: var(--title-color);
}
.subtitle{
    display: flex;
    font-family: serif;
    justify-content: center;
    font-weight: bolder;
    align-items: center;
    font-size: 35px;
    margin-top: 6%;
    color: var( --subtitle-color);
}

.realisation{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bouton {
    font-weight: bold;
    color: var(--text-color);
    font-size: large;
    font-family: cursive;
}
.SPC{
    cursor: pointer;
    background-image: var(--article-SPC); 
    height:300px; 
    width:306px;  
}

.BB{
    background-image: var(--article-BB); 
    height:150px; 
    cursor: pointer;
    width: 300px;
}
.ITI{
    background-image: var(--article-ITI);
    height:300px; 
    cursor: pointer;
    width:300px;  
}
.Front{
    background-image: var(--article-Front);
    height:300px; 
    cursor: pointer;
    width:300px;  
}

.Ionic{
    background-image: var(--article-Ionic);
    height:300px; 
    cursor: pointer;
    width:300px;  
}

.Migration{
    background-image: var(--article-Migration);
    height:300px; 
    cursor: pointer;
    width:300px;  
}
.Auto{
    background-image: var(--article-Auto);
    height:300px; 
    cursor: pointer;
    width:300px;  
}
.Equipe{
    background-image: var(--article-Equipe);
    height:300px; 
    cursor: pointer;
    width:300px;  
}
.Oral{
    background-image: var(--article-Oral);
    height:300px; 
    cursor: pointer;
    width:211px;  
}