<div class="title">
    articles
</div>

    <div class="réalisation">
        réalisation
        <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" [nzFooter]="null" >
            <ng-container *nzModalContent>
                <h1>ITI’PO la JPO virtuelle</h1> 
                Une JPO sur Discord : l'innovation pendant la période de Covid
                Nous étions en pleine période de Covid et nous avions très peu de projets possibles car nous étions cloîtrés chez nous. L'école cherchait des propositions innovantes pour faire une Journée Portes Ouvertes (JPO), nous avons donc proposé l'idée de faire une JPO sur Discord, un réseau social.
                Organiser une JPO malgré la pandémie
                Notre projet était de réaliser un serveur Discord avec plusieurs espaces de discussion qui présenteraient l'école avec un système de questions-réponses avec un robot, ainsi qu'une multitude d'espaces vocaux dans lesquels les intéressés pouvaient discuter avec des guides qui présentaient différentes personnes de l'école pour répondre à leurs questions.
                
                Une opportunité cruciale pour l'école en période de Covid
                Les enjeux de ce projet étaient assez conséquents car nous représentions l'école, mais nous étions aussi la seule chance de l'école d'avoir une JPO convenable, car avec le Covid, il était impossible de faire une JPO physique et l'école n'avait pas assez de personnel pour essayer autre chose que notre projet.
                
                
                Attirer suffisamment de participants pour la JPO virtuelle
                Les risques étaient nombreux, mais le plus critique était assez logique, c'était le nombre de personnes qui entendraient parler de notre JPO et qui voudraient venir. Même si nous faisions le Discord parfait pour accueillir les personnes, si personne ne voulait venir, notre projet allait être un échec. Nous avons donc beaucoup misé sur la communication pour être certains d'avoir suffisamment de monde.
                
                Des objectifs ambitieux dans le contexte de réalisation
                Nous nous sommes fixé un objectif ambitieux, car nous voulions avoir autant de candidats que lors des JPO en présentiel. C'était ambitieux car les gens intéressés par l'école lors des différents salons étudiants n'allaient pas être au courant de notre nouveau format.
                Création et l'amélioration du serveur Discord pour la JPO
                Pour ce projet, je me suis chargé de la création et de l'amélioration du serveur Discord, de la gestion des différents salons vocaux et textuels, ainsi que des permissions pour éviter que les nouveaux arrivants puissent avoir accès à tout le serveur. J'ai également aidé à la création du robot permettant aux candidats d'avoir des réponses à leurs questions basiques rapidement.
                
                Un bilan positif malgré des objectifs ambitieux non atteints
                Au final, nous avons eu moins de candidats que lors des JPO en présentiel, ce qui était attendu, mais en dessous de nos objectifs. La différence n'était pas énorme et les professeurs présents lors de notre JPO virtuelle nous ont confié que notre JPO était beaucoup plus pratique pour eux pour communiquer avec les candidats, ce qui nous a tout de même rendus heureux malgré l'objectif principal non atteint.
                
                Le succès inattendu de notre JPO virtuelle
                Le semestre suivant, le Covid était moins présent, mais l'école a tenu à refaire une JPO virtuelle pour permettre à plus de monde de découvrir l'école, ce qui montre que notre projet leur a plu et que l'échec des objectifs n'était que de notre point de vue.
                La satisfaction d'avoir mené à bien un projet difficile en période de Covid
                
                Au final, je suis content d'avoir fait ce projet malgré les objectifs. Nous avons fait de notre mieux, et durant la période de Covid, qui était tout de même une période très particulière, cela a rendu la difficulté de notre projet encore plus grande, mais également la joie d'accomplissement encore plus grande.
                
            </ng-container>
          </nz-modal>
    </div>

    <div class="compétences technique">
        compétences technique
    </div>

    <div class="compétences humaine">
        compétences humaine
    </div>
