h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    color: var(--title-color);

}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    color: var(--subtitle-color);

}
p{
    color: var(--text-color);

}
.text{
    display: flex;
    color: var(--subtitle-color);

}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
