/* Set up the container for the animation */
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  left: 5%;
  order: 2;
}

.body {
  display: flex;
  flex-direction: column;
}

.titre {
  display: flex;
  margin-top: auto;
  order: 1;
}

.presentation {
  display: flex;
  margin-bottom: auto;
  order: 3;
}
/* Define the styles for the text */
.text {
  left: 5%;
  top: 50%;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

/* Define the keyframes for the animation */
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  16.666% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Apply the animation to the first text element */
.text:first-child {
  left: 50%;
  animation-name: fade-in-out;
  animation-delay: 0s;
}

/* Apply the animation to the second text element */
.text:last-child {
  left: 50%;
  animation-name: fade-in-out;
  animation-delay: 4s;
}

/* Loop the animation indefinitely */
.text {
  animation-iteration-count: infinite;
}
