.body {
  display: flex;
  flex-direction: column;
  height: 900px;
  background-image: url(src\assets\test.jpg);   
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.titre {
  display: flex;
  font-family: serif;
  font-weight: bolder;
  font-size: 45px;
  justify-content: center;
  margin-top: auto;
  color: var(--title-color);
  margin-top: 10%;
  order: 1;
}

.presentation {
  display: flex;
  justify-content: center;
  font-family: serif;
  font-weight: bolder;
  text-align: center;
  color: var(--text-color);
  font-size: 25px;
  margin-top: 10%;
  margin-bottom: auto;
  order: 3;
}

  .text {
    display: flex;
  font-size: 35px;
  justify-content: center;
  font-weight: bolder;
  font-family: serif;
  color: var(--subtitle-color);
  margin-top: 10%;
  order: 2;
}
